@import url('https://fonts.googleapis.com/css?family=Audiowide');@font-face{font-family:'NEWTOW_B';src:url('fonts/NEWTOW_B.TTF');}
.barra_menu{background-color:rgba(0,0,0,0) !important;border:none !important;}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{color:#FFF;background-color:rgba(0,0,0,0) !important;font-family:'Audiowide', cursive;border-bottom:solid 3px;border-color:#c6e39e;}
.navbar-inverse{margin-top:0px;border-radius:0px;background-color:#fff;border:none;}
.navbar{margin-bottom:0px;}
.navbar-inverse .navbar-nav>li>a{color:#DDD;font-family:'Audiowide', cursive;}
.navbar-inverse .navbar-nav>li>a:hover{color:#FFF;border-bottom:solid 3px;border-color:#c6e39e;}
.navbar-inverse .navbar-toggle .icon-bar{background-color:#64da2d !important;}
.navbar-toggle:hover{background-color:#FFF !important;}
.navbar-collapse.collapse.in{background-color:#1a202f;}
.carousel-caption h3,
.carousel .icon-container,
.carousel-caption button{}
.img_grande{background-image:url('../../public/img/banner_52_opaco.png');}
.carousel-inner{background-size:100%;background-repeat:no-repeat;}
@media (max-width:1199px) and (min-width:992px){.carousel-inner{background-size:180%;}
.carousel_title{margin-top:11% !important;}
.carousel-caption{bottom:15%;}
}
@media (max-width:991px) and (min-width:768px){.carousel-inner{background-size:200%;}
.carousel_title{margin-top:13% !important;}
}
@media (max-width:769px){.img_grande{background-image:url('../../public/img/banner_51_opaco_min.png');}
.carousel-inner{background-size:300%;}
.carousel_title{margin-top:5% !important;text-align:center !important;font-size:25px !important;}
.carousel-caption{right:1% !important;text-align:center !important;bottom:5% !important;}
}
.carousel-inner>.benner{min-height:480px;}
.carousel_title{color:#FFF;margin-top:5%;padding:15px;padding-top:80px;font-family:'Audiowide', cursive;}
.carousel-caption h3{padding:5px;font-family:'Audiowide', cursive;font-size:20px !important;}
h2{font-family:'Audiowide', cursive;}
p{font-family:Roboto Slab;font-size:18px;}
.carousel-caption{position:absolute;right:43%;bottom:20%;left:15px;z-index:10;padding-top:10px;padding-bottom:10px;color:#fff;text-align:left;text-shadow:none;}
.carousel-caption h3:first-child{animation-delay:1s;}
.carousel-caption h3:nth-child(2){animation-delay:2s;}
.carousel-caption h3:nth-child(3){animation-delay:3s;}
.carousel-caption h3:nth-child(4){animation-delay:4s;}
.carousel-caption h3:nth-child(5){animation-delay:5s;}
.blok{background-color:rgba(250,250,250,1);padding:15px}
.blok h2{padding:15px;}
.blok li{padding:10px;font-size:17px;}
.small-box{max-height:125px;}
.gradiente{background:rgb(206,220,231);background:-moz-linear-gradient(top, rgba(206,220,231,1) 0%, rgba(152,161,170,1) 100%);background:-webkit-linear-gradient(top, rgba(206,220,231,1) 0%,rgba(152,161,170,1) 100%);background:linear-gradient(to bottom, rgba(206,220,231,1) 0%,rgba(152,161,170,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cedce7', endColorstr='#98a1aa',GradientType=0);}
.gradiente2{background:rgb(26,32,47);background:-moz-linear-gradient(-45deg, rgba(26,32,47,1) 14%, rgba(36,50,74,1) 18%, rgba(244,249,246,1) 78%, rgba(244,249,246,1) 78%);background:-webkit-linear-gradient(-45deg, rgba(26,32,47,1) 14%,rgba(36,50,74,1) 18%,rgba(244,249,246,1) 78%,rgba(244,249,246,1) 78%);background:linear-gradient(135deg, rgba(26,32,47,1) 14%,rgba(36,50,74,1) 18%,rgba(244,249,246,1) 78%,rgba(244,249,246,1) 78%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a202f', endColorstr='#f4f9f6',GradientType=1);}
.small-box .inner h2{font-size:25px;}
.info-box ,.info-box-icon{height:100px;}